@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-color: #F5F5F5;
}

.rainbowfocus1-1:focus-within{
  background-color: blue;
  color: white;
}

.rainbowfocusEur:focus-within{
  background-color: blue;
  color: yellow;
}

.rainbowfocus1-2:focus-within {
  color: black


}

